<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/change_email.css">
    <title>Change Number</title>
</head>

<body>

    <div class="animation hide" id="ani">
        <video src="/static/animation/load_animation.webm" autoplay muted></video>
    </div>

    <div class="box container">
        <form action="">
            <div class="input-lab">
                <label for="input-email">enter new Number</label>
                <input name="input-email" type="tel" id="n-umber">
            </div>
            <div class="submit-btn">
                <button type="submit" onclick="setTimeout(myfun(),4000)">Submit</button>
            </div>
        </form>
    </div>
    <script src="/static/javascript/change_number.js"></script>
</body>

</html>