<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">\
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <title>Product Details</title>
    <script src="/static/javascript/product_details_obj.js"></script>

    <link rel="stylesheet" href="/static/css/details.css">
</head>

<body>
    <main class="container" id="insert">
        <div class="add">
            <button type="button" id="add-cart">Buy Now</button>
        </div> 
    </main>

    <div class="pop-up hide" id="pop">
        <p>do you want to place order</p>
        <div class="btn-order">
            <button type="button" id="yes-btn">Yes</button>
            <button type="button" id="no-btn">No</button>
        </div>
    </div>
    
    <script src="/static/javascript/details.js"></script>

</body>

</html>


