<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=div, initial-scale=1.0">
    <title>Experts</title>
    <link rel="stylesheet" href="/static/css/experties.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <header class="section-navbar ">
        <div class="main-heading-block container">
            <p>Our Experties</p>
        </div>
    </header>

    <main class="container">
        <div class="all-expert">
            <div class="expert" id="expert1">
                <div class="image">
                    <img src="/static/images/expert_photo/chanaksh.JPG" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.Chanaksh Manoj Metkar</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>

                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>

            </div>
            <div class="expert" id="expert2">
                <div class="image">
                    <img src="/static/images/expert_photo/pritu.jpg" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.pritesh ishwar sonar</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>
                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>



            </div>
            <div class="expert" id="expert3">
                <div class="image">
                    <img src="/static/images/expert_photo/abhi pawar.jpg" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.abhishek gokul pawar</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>

                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>
            </div>
            <div class="expert" id="expert3">
                <div class="image">
                    <img src="/static/images/expert_photo/gaurav.jpg" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.gaurav balasaheb tidke</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>

                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>
            </div>
            <div class="expert" id="expert3">
                <div class="image">
                    <img src="/static/images/expert_photo/pritu.jpg" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.sidhhant gokul dalvi</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>

                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>
            </div>
        
            <div class="expert" id="expert3">
                <div class="image">
                    <img src="/static/images/expert_photo/pritu.jpg" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.Abhishek rajiv kendre</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>

                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>
            </div>
            <div class="expert" id="expert3">
                <div class="image">
                    <img src="/static/images/expert_photo/pritu.jpg" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.shruti hemantsingh pardeshi</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>

                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>
            </div>
            <div class="expert" id="expert3">
                <div class="image">
                    <img src="/static/images/expert_photo/pavan.jpg" alt="">
                </div>
                <div class="info">
                    <p class="name">MR.pawan jagdish rakibe</p>
                    <div class="education">
                        <span>education:</span>
                        <p class="education-name">BE computer</p>
                    </div>

                    <div class="college">
                        <span>college Name:</span>
                        <p class="college-name">Pune Vidhyarthi college of engineering,nashik</p>
                    </div>

                    <div>

                        <div class="profession">
                            <span>profession:</span>
                            <p class="expert-in">Onion crop expert</p>
                        </div>

                        <div class="experiance">
                            <span>experiance:</span>
                            <p class="experiance-duration">5 year</p>
                        </div>

                    </div>

                    <button type="button">contact us</button>
                </div>
            </div>
        </div>
    </main>

    <div class="back-arrow"><i class=''></i></div>
    <script src="/static/javascript/experties.js"></script>
</body>

</html>