<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Document</title>
</head>
<body>
    <div id="head-div">
    <p id="heading">order form</p>
</div>
    <div class="container">
    <form action="/form/cart", method="post", id="my-form">
        {{!-- <div class="input-div">
        <label for="Prod_name">Product Name:</label>
        <input name="Prod_name" type="text" value="" id="Pro_name"  readonly >
    </div>
    <div class="input-div">
        <label for="Pro_price">Product Price:</label>
        <input name="Pro_price" type="text" value="10" id="Pro_price"  readonly>
    </div>
    <div class="input-div">
        <label for="Pro_Quantity">Product Quantity:</label>
        <input name="Pro_Quantity" type="number" value="1" id="Pro_Quantity"  >
    </div>
    <div class="input-div">
        <label for="Pro_pack">Product Packging:</label>
        <input name="Pro_pack" type="text" value="5 liter" id="Pro_pack" readonly >
    </div>
    <div class="input-div">
        <label for="email">Customer_Email:</label>
        <input name="email" type="email"  id="email"  placeholder="Enter Your Login Mail">
    </div> --}}

    {{!-- <button type="submit" value="submit" id="btn" >Submit</button> --}}
    </form>

</div>

<script src="/static/javascript/form.js"></script>


</body>
</html>