<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Me</title>
    <link rel="stylesheet" href="/static/css/help.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="navbar">
        <div class="head-div container">
            <p>most ask question</p>
        </div>
    </nav>

    <main class="question-div container">

        <div class="question" id="one">
            <div class="question-num">
                <p>1.How do the fertilizers on the website benefit crops
                    ?</p>
                <div class="btn">
                    <i id="up-one" class='bx bx-chevron-up  up-btn hidden'></i>
                    <i id="down-one" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-one">
                <p> Site-applied fertilizers enhance crop growth, resulting in increased yields and healthier plants.
                    The application of fertilizers on the field contributes to improved agricultural productivity by
                    providing essential nutrients that support robust plant development and overall crop health...</p>
            </div>
        </div>

        <div class="question" id="two">
            <div class="question-num">
                <p>2.Are there easy-to-follow videos for crop care ?</p>
                <div class="btn">
                    <i id="up-two" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-two" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-two">
                <p>
                    The website showcases user-friendly videos, providing clear and practical guidance on effective crop
                    care techniques. These easily accessible videos empower users with valuable insights, ensuring they
                    can readily implement and benefit from best practices in cultivating and nurturing crops...</p>
            </div>
        </div>

        <div class="question" id="three">
            <div class="question-num">
                <p>3.Can I pay online for the agricultural products ?</p>
                <div class="btn">
                    <i id="up-three" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-three" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-three">
                <p>
                    Enjoy hassle-free transactions while purchasing agricultural products with our convenient online
                    payment options. Streamlined and secure, these payment methods ensure a seamless buying experience,
                    enhancing the efficiency and ease of acquiring essential agricultural supplies for your needs...</p>
            </div>
        </div>

        <div class="question" id="four">
            <div class="question-num">
                <p>4.Tell me about common crop diseases on the site?</p>
                <div class="btn">
                    <i id="up-four" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-four" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-four">
                <p>
                    Our platform comprehensively addresses prevalent crop diseases, offering valuable insights for
                    farmers to identify and manage them effectively. Access essential information that empowers farmers
                    to safeguard their crops, enhancing resilience and optimizing yields through proactive disease
                    identification and management strategies...
                <p>
            </div>
        </div>

        <div class="question" id="five">
            <div class="question-num">
                <p>5.Do they offer solutions for crop-related problems ?</p>
                <div class="btn">
                    <i id="up-five" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-five" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-five">
                <p>Discover effective solutions for diverse crop-related issues on our platform, providing practical
                    remedies to enhance agricultural outcomes. Address challenges with confidence, implementing
                    strategies that optimize crop health and overall yield, ensuring a successful and productive farming
                    experience...</p>
            </div>
        </div>

        <div class="question" id="six">
            <div class="question-num">
                <p>6.What are the payment options for disease solutions ?</p>
                <div class="btn">
                    <i id="up-six" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-six" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-six">
                <p>Streamline your experience on our website with facilitated online payments for disease solutions. Our
                    seamless and secure transaction process ensures convenience, allowing users to efficiently access
                    and purchase remedies for crop-related diseases, contributing to effective agricultural
                    management... </p>
            </div>
        </div>

        <div class="question" id="seven">
            <div class="question-num">
                <p>7.Which crops do the products aim to improve ?</p>
                <div class="btn">
                    <i id="up-seven" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-seven" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-seven">
                <p>Our website offers products tailored for diverse crops, designed to elevate their overall health and
                    productivity. Targeting specific agricultural needs, these solutions contribute to robust plant
                    development and improved yields, empowering farmers to achieve enhanced outcomes in crop
                    cultivation...</p>
            </div>
        </div>

        <div class="question" id="eight">
            <div class="question-num">
                <p>8.Are there tutorials for better crop health ?</p>
                <div class="btn">
                    <i id="up-eight" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-eight" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-eight">
                <p>Explore our platform's tutorials to gain valuable insights into practices fostering improved crop
                    health and yield. Accessible guidance ensures farmers can implement effective strategies, promoting
                    optimal cultivation methods and ultimately enhancing agricultural outcomes for a successful
                    harvest...</p>
            </div>
        </div>

        <div class="question" id="nine">
            <div class="question-num">
                <p>9.How can I pay for the featured crop solutions ?</p>
                <div class="btn">
                    <i id="up-nine" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-nine" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-nine">
                <p>
                    Easily acquire featured crop solutions on our website through a simple and secure online payment
                    method. Streamline your transaction process, providing a convenient and reliable way to access the
                    agricultural solutions that enhance your crop cultivation endeavors...</p>
            </div>
        </div>

        <div class="question" id="ten">
            <div class="question-num">
                <p>10.Are there easy payment methods for agri-products ?</p>
                <div class="btn">
                    <i id="up-ten" class='bx bx-chevron-up up-btn hidden'></i>
                    <i id="down-ten" class='bx bx-chevron-down down-btn visible'></i>
                </div>
            </div>
            <div class="answer hide" id="answer-ten">
                <p>
                    Experience seamless transactions on our website with user-friendly payment methods, simplifying the
                    purchase of a diverse range of agricultural products. Enjoy ease of use and convenience as you
                    acquire the necessary supplies for successful farming endeavors...</p>
            </div>
        </div>

    </main>
    <div class="back-arrow"><i class=''></i></div>
    <script src="/static/javascript/help.js"></script>
</body>

</html>