<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Gallery</title>
</head>

<body>
    <div class="full-image hide" id="full-img">
        <img src="/static/images/gallery/gallery main photo/f1.jpg" alt="" id="fullimage">
        <span onclick="hidefull()"><i class='bx bxs-x-circle'></i></span>
    </div>
    <header>
        <div class="navbar">
            <p>our memories</p>
        </div>
    </header>


    <div class="image-gallery">
        <img src="/static/images/gallery/gallery main photo/f1.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f2.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f3.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f4.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f5.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f6.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f8.webp" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f9.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f10.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f11.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f12.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f13.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f14.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f15.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f16.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f17.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f18.webp" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f19.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f20.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f21.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f22.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f23.webp" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f24.webp" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f25.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f26.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f27.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f28.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f29.jpg" onclick="change(this.src)" alt="">
        <img src="/static/images/gallery/gallery main photo/f30.jpg" onclick="change(this.src)" alt="">

    </div>

    {{!-- <div class="back-arrow"><i class='bx bx-left-arrow-alt'></i></div> --}}
    <script src="/static/javascript/gallery.js"></script>
</body>

</html>