<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizers</title>
    <link rel="stylesheet" href="/static/css/product.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/static/javascript/card.js"></script>
</head>

<body>
    <header class="section-navbar ">
        <div class="main-heading-block container">
            <p>OUR FERTILIZER</p>
        </div>
    </header>

    <div class="heading-pro" id="first">
        <p>TOMATO FERTILIZER</p>
    </div>
    <div class="card-container" id="contu1">

    </div>



    <div class="heading-pro">
        <p>ONION FERTILIZER</p>
    </div>
    <div class="card-container" id="contu2">

    </div>

    <div class="heading-pro">
        <p>BANANA FERTILIZER</p>
    </div>
    <div class="card-container" id="contu3">

    </div>

    <div class="back-arrow"><i class=''></i></div>
    <script src="/static/javascript/product.js"></script>
 
</body>

</html>