<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/static/css/search.css">
   <script src="/static/javascript/card.js"></script>
  
</head>
<body>
   
    <nav class="navbar">
        <div class="container">
            <p class="head">Your search</p>
        </div>
    </nav>
    

    <div class="search-card " id="content">
       
    </div>
    <script src="/static/javascript/search.js"></script> 
</body>
</html>