<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="/static/css/start.css">
</head>

<body>
    <div class="container">

        <div class="greet">
              Welcome To our Website
        </div>
        <div class="logo-head">
            <img src="/static/images/icon/indian-logo.png" alt="">
            <p>Jai Jawan Jai Kisan</p>
        </div>
        <div class="btn">
            <a href="/login">start</a>
        </div>
    </div>
</body>

</html>