<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/static/css/weather.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>

<body>
    <div class="container">
        <div class="search-box">
            <i class='bx bxs-map'></i>
            <input type="text" placeholder="enter the location">
            <button class='bx bx-search'></button>
        </div>

        <div class="weather">
            <img src="/static/images/icon/search_img.webp" class="my-img-data" alt="not found">
            <div class="celci">
                <p class="temp "></p>
                <p class="unit"></p>

            </div>
            <p class="description">Search Weather</p>
            <p class="city"></p>
        </div>

        <div class="weather-details hide" id="hide-data">

            <div class="humidity-details">
                <i class='bx bx-water'></i>
                <div class="text">
                    <p class="hu-num"></p>
                    <p class="h-text">Humidity</p>
                </div>
            </div>

            <div class="wind">
                <i class='bx bx-wind'></i>
                <div class="text">
                    <p class="wi-num"></p>
                    <p class="h-text">Speed</p>
                </div>
            </div>

        </div>
    </div>
    <div class="back-arrow"><i class=''></i></div> 
</body>
<script src="/static/javascript/weather.js"></script>

</html>