@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

.image-gallery{
   
    width: 90%;
    margin: 16rem auto 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 2rem;
    
}

.image-gallery img{
    width: 30rem;
    height: 30rem;
    border: 1px solid gray;
    cursor: pointer;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}

.image-gallery img:hover{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.full-image{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5rem;
    left: 0;
    z-index: 1;
}

.full-image img{
    width: 45rem;
    height: 45rem;
    border: 1px solid black;

 
}

.full-image span{
    position: absolute;
    top: 10rem;
    right: 5rem;
    font-size: 5rem;
    color: white;
    z-index: 3;
   
}

.hide{
    display: none;
}
.show{
    display: flex;
}

header{
    background:linear-gradient(to right, #00b09b, #96c93d);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    
}

.navbar{
    max-width: 142rem;
    padding: 3rem 9rem;
    
}

.navbar p{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.back-arrow{
    position: fixed;
    top: 4rem;
    left: 4rem;
    z-index: 2;
    
}

.back-arrow i{
    font-size: 4.5rem;
}