
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header  */
header{
    /* background-color: gold; */
    /* background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%); */
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    position: fixed;
    z-index: 3;
     width: 100%; 
     top: 0;
     left: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 2rem 2.4rem;
    
}

.header-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-option .two{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    order: 2;
    display: none;
}

.two-option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    order: 1;
    margin: 0.3rem;
}


 .search{
    order: 1;
    border: none;
    width: 25%;
    border-bottom: 0.2rem solid white;
    background: transparent;
    outline: none;
    height: 3rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-size:1.6rem ;
    transition: all 0.5 ease-in-out;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
} 

::placeholder{
    color: white;
}

.search:focus{
    width: 30%;
}

.two .line{
    width: 3rem;
    height: 0.5rem;
    background-color: black;
}

 nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    & li{
        
        list-style: none;
    }

    & li a{
        text-decoration: none;
        font-size: 2rem;
        /* font-weight: bold;
         */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: capitalize;
        color: white;
        position: relative;
        display: inline-block;
        &::after{
            content: "";
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            width:0%;
            border-bottom: 0.2rem solid green;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
           
}
    
    }
 & li a:hover:after{
        width: 100%;
        
    }

 & li a:active:after{
    width: 100%;
    
 }

 & li a:focus:after{
    width: 100%;
    
 }
   
}



 .my_img{
    height: 5rem;
    width: 5rem;
}

.two-logo{
    display: flex;
    gap: 7rem;
    justify-content: center;
    align-items: center;
}


@media (max-width:1420px) {
    .two-option .two{
        
        display: flex;

    }
    nav{
        display: none;
    }

    .header-card{
        justify-content: space-around;
       
    }

    .two-logo{
        gap: 1rem;
    }
   
    .search{
        width: 40%;
    }

    .search:focus{
        width:45% ;
    }

}

/* slider-bar */

.slide-bar{
    position: relative;
    top: 10rem;  
}


.slides1{
    width: 100%;
    height: 50rem;
    background: url('../images/slider/s1.jpg');
    border: 1px solid green;
    background-repeat: no-repeat;
    background-size: cover;
    animation: changeimage 20s linear infinite;
    /*border: 1rem solid rgba(0,0,0,0.5);
    */-webkit-animation: changeimage1 30s linear infinite;
    filter:contrast(1) ;
    -webkit-filter:contrast(1) ;
}

@keyframes changeimage1 {
    0%{
        background-image: url('../images/slider/s1.jpg');
    }
    25%{
        background-image: url('../images/slider/s3.jpg');
    }
    50%{
        background-image: url('../images/slider/s2.jpg');
    }
    75%{
        background-image: url('../images/slider/s4.jpg');
    }
    100%{
        background-image: url('../images/slider/s5.jpg');
    }

}
.slides2{
    width: 100%;
    height: 50rem;
    background: url('../images/slider/m1.jpg');
    border: 1px solid green;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: changeimage 20s linear infinite;
    /*border: 1rem solid rgba(0,0,0,0.5);
    */-webkit-animation: changeimage2 30s linear infinite;
    filter:contrast(1) ;
    -webkit-filter:contrast(1) ;
    display: none;
    margin: 0 auto;
}



@keyframes changeimage2 {
    0%{
        background-image: url('../images/slider/m1.jpg');
    }
    25%{
        background-image: url('../images/slider/m2.jpg');
    }
    50%{
        background-image: url('../images/slider/m3.jpg');
    }
    75%{
        background-image: url('../images/slider/m4.jpg');
    }
    100%{
        background-image: url('../images/slider/m5.jpg');
    }
    

}

@media (max-width:1230px){
    .slides1{
        display: none;
    }
    .slides2{
       display: block;
    }
}



/* option bar */

.opt-bar{
    background-color: white;
    width: 35rem;
    height: 51rem;
    border-radius: 4rem;
    border: 2px solid pink;
    position: fixed;
    top: 10rem;
    right: 0;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    z-index: 5;
}

.opt-bar ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem; 
}

.opt-bar ul li{
    list-style: none;
    background-color: blueviolet;
    padding: 1rem 1rem;
    color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.opt-bar ul li a{
    text-decoration: none;
    color: white;
   
}

/* account bar  */

.Account{
   width: 42rem;
   z-index: 4;
   height: 56rem;
   border: 1px solid green;
   position: fixed;
   top: 10rem;
   right: 1rem;
   background-color: white;
   border-radius: 4rem;
   -webkit-border-radius: 4rem;
   -moz-border-radius: 4rem;
   -ms-border-radius: 4rem;
   -o-border-radius: 4rem;
}

.blur-me-black-shadow{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position:  fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.opt-bar-display{
    display: block;
}

.opt-bar-not-display{
    display: none;
}

.acc-img{
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: block;
}

.Account .username{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.email-detail{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    font-size: 1.7rem;

}

.e-head{
    margin-top: 1rem;
}

.email-detail .e-head{
    font-weight: bold;
}

.cross{
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 0.6rem;
    left: 1rem;
}

.my-email{
    font-size: 1.7rem;
    font-weight: bold;
    color: chocolate;
    margin-top: 1rem;
}

.ch-btn{
    color: aliceblue;
    background-color: purple;
    width: 20rem;
    height: 3.2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 1.6rem;
    margin: 1.5rem auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.ch-btn-num{
    color: aliceblue;
    background-color: purple;
    width: 22rem;
    height: 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 1.6rem;
    margin: 1.6rem auto ;
    
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 1rem;
    font-size: 1.7rem;
}

.serial{
    display: flex;
    gap: 1.5rem;

}

#m-head{
    font-weight: bold;
}

.my_full_data .location{
    font-size: 1.7rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 7rem;
    
}

.l-head{
    font-weight: bold;
    margin-bottom: 2rem;
}

.my_full_data{
    background-color: aqua;
    width: 90%;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    margin: 0 auto;
}

.three-option ul{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.three-option ul li{
    list-style: none;
    margin-top: 2rem;  
}

.three-option ul li a{
   text-decoration: none;
   font-size: 1.6rem;
   display: inline-block;
   width: 9rem;
   background-color: aquamarine;
   height: 3.5rem; 
   display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius:2rem;
    color: black;
}

.two-pro{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
}

/* crops part main */

.all-content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.all-content button{
    border: none;
    outline: none;
}
.C-head{
    margin: 1rem 4rem;
}

.C-head p{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
   letter-spacing: 0.2rem;

}
.all-content img{
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: 0.1rem solid black;
}

.all-content .crop-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

/* whether */

.border-me{
    border: 2px solid black;
    height: 15rem;
    width: 100%;
    background-color: hsl(0,0%,90%);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.w-head{
    margin: 1rem 4rem;
}
.w-head p{
    font-size: 4rem;
    margin: 3rem 4rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.border-me p{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bold;
}

.border-me img{
    width: 14rem;
    height: 14rem;
    border-radius:3rem ;
    -webkit-border-radius:3rem;
    -moz-border-radius:3rem;
    -ms-border-radius:3rem;
    -o-border-radius:3rem;
    margin-left: 1rem;
}

.border-me a{
    width: 12rem;
    height: 3.5rem;
    border: 2px solid black;
    display: inline-block;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    background-color: rgba(182, 112, 112, 0.668);
}

.h-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (max-width:850px) {
    .border-me{
        width: 100%;
        height: 19rem;
        gap: 3rem;
    }

    .h-btn{
        margin-right: 1rem;
    }
}

/* drop down buttion */

.dropbtn {
    background: transparent;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 1.2rem 1.2rem;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* advertise bar */
.advertise{
    border-top: 0.3rem solid black ;
    background-color: #e9eef1;
    position: relative; 
    top: 10rem; 
}

.welcome-head{
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.wel-desc{
    font-size: 1.9rem;
    text-align: center;
    padding: 1rem 6rem;
    letter-spacing: 0.08rem;

}

.three-section{
    display: flex;
    gap: 3rem;
    margin: 6rem 10rem;
    justify-content: center;
}

.three-section .quality-head{
    font-size: 3rem;
    text-transform: capitalize;
    margin: 4rem auto;
    text-align: center;
    font-weight: bold;
}

.qua-img{
    width: 17rem;
    height: 17rem;
   margin: 0 auto;

}

.qua-img img{
    width: 100%;
    height: 100%;
}

.quality-desc{
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem 0.5rem;
    
}


@media (max-width:1180px) {
    .three-section{
        display: flex;
        flex-direction: column;
    }
}

/* contact footer */

footer{
    background-color: black;
}

.gird-contact{
    
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 2fr;
    color: white;
} 

.contact-head{
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-transform: capitalize;

}
.quick-form{
    display: flex;
    gap: 3rem;
    color: white;
    flex-direction: column;
    width: 30rem;
    justify-content: center;
}

.quick-form h1{
    text-align: center;
} 


.quick-form .input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.quick-form .input label{
    font-size: 1.8rem;
}

.quick-form .input #name,.quick-form .input #email{
    height: 3rem;
    border: none;
    outline: none;
    padding: 1rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.input #extra{
      height: 8rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      padding: 1rem 1rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
}

.form{
    display: flex;
    gap: 4rem;
    flex-direction: column;
}

 .form .sub-btn{
   
    margin: 0 auto;
 }
.form .sub-btn #btn{
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
    text-transform: capitalize;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(155, 198, 113);
    font-weight: 700;

}

/* address */

.address-details{
 display: grid;
 grid-template-rows: 1fr 1fr;
 grid-template-columns: 1fr 1fr;
}

.seperate{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content:center;
    align-items: center;
    margin-bottom: 2rem;
}

.seperate .line{
    border: 1px solid white;
    width: 35%;
    height: 1px;

}

.seperate #square{
    width: 2%;
    height: 1rem;
    background-color: #fff;
    
}

.add-head{
    text-align: center;
    margin: 2rem 0;
   
}

.add-details{
    display: flex;
    justify-content: center;
    
}

.main-details{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 4rem;
    margin-bottom: 3rem;
}

.main-details .location{
   display: flex;
   gap: 1rem;
   align-items: center;
   margin-bottom: 1rem;
}

.main-details .location i{
    font-size: 4rem;
    position: relative;
    top: 0;
    transition: all 0.5s linear;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}


.main-details .location i:hover{
    
    top: -2rem;
    color: red;
}

.main-details .location h2{
    font-size: 2.2rem;
}

.add-details p{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    letter-spacing: 0.07rem;
}

.director{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.director .dir{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conatact-me{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.director .dir p,.conatact-me .con-person p,.gmial-me-on p{
    font-size: 1.5rem;
}

.conatact-me .con-person p{
      display: flex;
      flex-direction: column;
      gap: 1rem;
}


.gmail-me{
    display: flex;
    justify-content: center;
    gap: 2rem;
  
}
.gmail-me i{
    font-size: 4rem;
    position: relative;
    top: 0;
    transition: all 0.5s linear;
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.gmail-me i:hover{
    top: -2rem;
   color: red;
}


.gmial-me-on{
    display: flex;
    gap:0.3rem;
    flex-direction: column;
}

@media (max-width:1000px) {
    .gird-contact{
       row-gap: 5rem;
       display: flex;
       flex-direction: column;     
       justify-content: center; 
       align-items: center;
    } 

    .director{
        flex-direction: column;
    }
    .address-details{
        border-top: 0.2rem solid white ;
    }
}

/* search-bar place */
.show-search-pro{
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 60rem;
    background-color: cyan;
}