@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(239, 233, 233, 0.918);;
}
/* header  */

html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 2rem 2.4rem;
    
}

.section-navbar{
    box-shadow:0.2rem 0.2rem 1rem rgba(0,0,0,0.26) ;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
 }
 .section-navbar .container p{
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
 }

.back-arrow{
    position: fixed;
    top: 4rem;
    left: 4rem;
    z-index: 2;
    
}

.back-arrow i{
    font-size: 4.5rem;
}

.heading-pro{
  background-color: black;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.heading-pro p{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    width: 100%;
    letter-spacing: 0.3rem;
}

.card-container{
    height: 35.5rem;
    max-width: 142rem;
    margin: 0 auto;
   
    display: flex;
    overflow-x:auto;
    scroll-behavior: smooth;
   
}

.card-container::-webkit-scrollbar{
    display: none;

}

.card{
   
    width: 30rem;
    height: 35rem;
    border: 1px solid black;
    min-width: 35rem;
    overflow: hidden;
    transition: 0.5s;
    background-color: white;
    margin: 0.5rem 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.card:hover{
    background: linear-gradient(to bottom ,rgba(4,8,15,0),#9aa0af 90%);
    
}

.slide-img{
    display: block;
    width: 20rem;
    height: 20rem;
    margin: 2rem auto;
  
}

.card  .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.card .data .pro-name{
    font-size: 2.5rem;
} 

.card .data .btn{
  text-decoration: none;
  background-color: black;
  color: white;
  width: 15rem;
  height: 3.4rem;
  display: inline-block;
  font-size: 2.2rem;
  text-align: center;
  margin: 1.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 0.4\rem 0;
}

#first{
    margin-top: 12rem;
}