
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-size: 62.5%;
    }
    a{
    color: black;
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
    text-decoration: none;
    }

    div{
        width: 50rem;
        height: 20rem;
        
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }

    p{
        font-size: 2.3rem;
        text-transform: capitalize
    }
</style>

<div>
<p>click here to continue with google</p>
<button><a target="_blank" href='/auth/google'>Login With Google</a></button>
</div>